@charset "utf-8";
/* CSS Document */

body
	{
		background-image:url(Images/f.jpg);
		background-repeat:no-repeat;
		background-size:100% 100%;
		background-attachment:fixed;
		margin:0px;
		opacity:;
	}
	
	#div1
	{
		background-color:#000 ; height:9%;width:100%; float:left;
	}
	
	#div2
	{
		height:30%;width:100%; float:left;color:#FFF;
	}
	
	#div3
	{
		height:200%;width:100%; float:left; 
	}
	
	#div11
	{
		width:8%;height:90%;  margin-left:5% ; float:left;
	}
	
	#logoimg
	{
		width:100%;height:100%;
	}
	
	#div13
	{
		color:#CCC; height:50%; margin-top:18px; margin-left:5%; float:left;font-family:Verdana, Geneva, sans-serif; font-size:20px;text-transform:uppercase ; float:left;
	}
	
	#div14
	{
		color:#CCC ;height:50%; margin-right:5% ;font-family:Arial, Helvetica, sans-serif; text-transform:uppercase ; float:right;
	}
	
	#headlist
	{
		list-style:none;
		font-size:22px;		
	}
	
	#headlist li
	{
		top:6px;
		display:inline-block;
		margin-left:10px;
		margin-bottom:10px;
	}
	
	a
	{
		text-decoration:none;
		color:#CCC;
	}
	
	p
	{
		margin-left:18%;
		padding-top:20px;
		padding-bottom:20px;
		font:"Courier New", Courier, monospace;
		font-size:22px;
		color:#FFF;
		width:65%;
				
	}
	
	span
	{
		padding-bottom:20px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:50px;
		font-weight:550;
		color:#FFF;
	}
	
	h1
	{
		font-size:25px;
		color:#FFF;
		font-weight:700;
	}
	
	#div31
	{
		border-top:groove 2px #999999;
		padding-top:50px;
		width:76%;
		margin-left:12%;
		margin-bottom:30px;		
	}
	
	#descp
	{
		background-color:#036;
		border:solid #FC0 7px;
		box-sizing:border-box;		
		width:100%;
		height:90%;
		float:left;
	}
	
	#ptitle
	{
		text-align:center;
		margin-top:10%;
		padding-top:10px;
		padding-bottom:2px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:30px;
		border-bottom: groove 2px #FFFFFF;
		font-weight:550;
		color:#FFF;
	}
	
	#para
	{
		text-align:justify;
		margin-left:10%;
		padding-top:10px;
		padding-bottom:10px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:20px;
		color:#CCC;
		width:80%;
	}
	
	.tab1
	{
		text-transform:capitalize
		text-align:center;
		box-sizing:border-box;
		padding:5px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:600;
		font-size:24px;
		color:#FFF;
		width:100%;
	}
	
	#footer
	{
		background-color:#000 ; height:20%;width:100%; float:left;color:#CCC;
	}
	
	h2
	{
		font-family:Arial, Helvetica, sans-serif;font-size:16px;alignment-adjust:central;
	}
